
* {
/*  border: 1px solid rgba(0, 0, 0, 0.5);  */
  font-family: 'Roboto', sans-serif;
}


.Google {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  letter-spacing: -0.27em;
  text-align: center;
  top: 18%;
  left: 40%;
  padding-top: 0px;
  padding-bottom: 0px;
  position: absolute;
}

input {
  line-height: 2.5em;
  width: 500px;
  margin: 0 30%;
  top: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: absolute;
}

ul li {
  display: inline;
  padding: 10px 5px;
}

.Buttons {
  position: absolute;
  top: 40%;
  right: 37%;
  padding: 3px 50px;
}

.header {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 200px;
}

.info {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.fineprint {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.greybar {
  position: absolute;
  padding: 0 0 0 0;
  bottom: 0%;
  height: 6%;
  width: 100%;
  background-color: #e0e0e0;
  z-index: -1;
}

.blue {
  color: #448cff;
}

.red {
  color: #f00;
}

.yellow {
  color: #ffbf00;
}

.green {
  color: #208e13;
}
